@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


div, table {
  font-family: 'Monserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: 'Hind', serif;
}

.img-container{
  width: 220px;
}

.jumbo-container{
  position: relative;
  background-image: url('./assets/jumbo-bg.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 300px;
}

/* .jumbo-overlay{
  background-color: rgba(0,0,0, .7);
  position: absolute;
  left: 0;
  top: 0;
} */

.slogan-container{
  width: 550px;
  max-width: 75%;
}